.respond-box {
  bottom: 0;
  left: 0;
  background-color: #dcdcdc;
  padding: 20px;
  display: flex;
}

.respond-box input {
  padding: 10px;
  margin-right: 5px;
  border: 5px solid #858585;
  flex-grow: 1;
  border-radius: 10px;
}

.form-group {
  height: 90vh;
}

.row {
  max-height: 100vh;
  overflow: hidden;
}

#sidebar {
  width: 30%;
  overflow: auto;
  max-height: 100vh;
}

#content {
  width: 70%;
}

.submit { 
  border: 5px solid #858585;
  border-radius: 10px;
}